*::after, *::before{
    box-sizing: border-box;
}

:root{
    --cell-size: 180px;
    --mark-size: calc(var(--cell-size) * .9);
}

body{
    margin: 0;
    font-weight: 100;
    
    background: #111;
	height: 100vh;
}

h1{
    position: fixed;
    font-weight: 100;
    color:white;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}
.board{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    position: absolute
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3){
    border-top:none;
}
.cell:nth-child(3n + 1){
    border-left: none;
}
.cell:nth-child(3n + 3){
    border-right: none;
}
.cell:last-child, .cell:nth-child(8), .cell:nth-child(7){
    border-bottom:none;
}

.cell.x, .cell.circle{
    cursor: not-allowed;
}
.cell.x::before,
.cell.x::after{
    background-color: rgb(255, 255, 255);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    background-color: rgb(147, 146, 146);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    position: absolute;

}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after{
    background-color: rgb(214, 66, 40);
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    background-color: rgb(184, 71, 71);
}

.cell.circle::after,
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    content: '';
    border-radius: 50%;
    position: absolute;
}
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
}
.cell.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background: #111;

}

.winning-message{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    margin-top: 3rem;
    border-radius: 1rem;
}

.winning-message button:hover{
    background-color: black;
    border-color: white;
    color: white;
}

.winning-message.show{
    display: flex;
}

/**Animated background by Divinector**/
.wrapper span {
	position: fixed;
	bottom: -180px;
	height: 50px;
	width: 50px;
	z-index: -1;
	background-color: #18191f;
	box-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
	animation: animate 10s linear infinite;
}
.wrapper span:nth-child(1) {
	left: 60px;
	animation-delay: 0.6s;
}
.wrapper span:nth-child(2) {
	left: 10%;
	animation-delay: 3s;
	width: 60px;
	height: 60px;
}
.wrapper span:nth-child(3) {
	left: 20%;
	animation-delay: 2s;
}
.wrapper span:nth-child(4) {
	left: 30%;
	animation-delay: 5s;
	width: 80px;
	height: 80px;
}
.wrapper span:nth-child(5) {
	left: 40%;
	animation-delay: 1s;
}
.wrapper span:nth-child(6) {
	left: 50%;
	animation-delay: 7s;
}
.wrapper span:nth-child(7) {
	left: 60%;
	animation-delay: 6s;
	width: 100px;
	height: 100px;
}
.wrapper span:nth-child(8) {
	left: 70%;
	animation-delay: 8s;
}
.wrapper span:nth-child(9) {
	left: 80%;
	animation-delay: 6s;
	width: 90px;
	height: 90px;
}
.wrapper span:nth-child(10) {
	left: 90%;
	animation-delay: 4s;
}
@keyframes animate {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	80% {
		opacity: .7;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

footer, a{
    position: fixed;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(235, 231, 231);
    text-align: center;
    line-height: 0.5;

    margin: 0;
    bottom:0;
    height: 6em; width: 100%;
    background-color: #232222;
    padding: 1px 0;
    display: block;
}

.score{
    color: white;
    text-align: center;
    font-family: Montserrat, sans-serif;
    padding: 1px 0;
    position: fixed;
    margin-top: 2rem;
    display: block;
    height: 6em; width: 100%;
}

span>h2, #xScore, #oScore, #drawScore{
    display: inline;
    margin: auto;
    font-size: 5em;
}

#draws, #playerO{
    margin-left:8em;
}